@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var exportPdfs = (List<Tlu.CurriculumManager.Curriculums.CurriculumExportDto>)Model.ExportPDFs;
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        @foreach (var item in exportPdfs)
        {
            if (item.SubjectGroup.Childrens.Count == 0)
            {
                <h6><b><span>@item.SubjectGroup.DisplayOrder</span>. <span>@item.SubjectGroup.Name</span></b></h6>
            } 
            else
            {
                <h6><i><span>@item.SubjectGroup.Name</span></i></h6>
            }

        }
    </body>
    </html>