@page
@model Tlu.CurriculumManager.Web.Pages.SubjectGroups.CreateModalModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Tlu.CurriculumManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IHtmlLocalizer<CurriculumManagerResource> L
@{
    Layout = null;
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/SubjectGroups/index.js" />
    </abp-script-bundle>
}
<form id="createSubjectGroupForm" data-ajaxform="true" action="/SubjectGroups/CreateModal" method="post" novalidate="novalidate">
    <abp-modal>
        <abp-modal-header title="@L["NewSubjectGroup"].Value"></abp-modal-header>
        <abp-modal-body>
            <input type="hidden" name="__RequestVerificationToken" data-bind="value: abp.security.antiForgery.getToken()" />
            <abp-row>
                <abp-column size-md="_3">@L["Name"] *</abp-column>
                <abp-column size-md="_9">
                    <input name="Name" class="form-control" />
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-md="_3">Chương trình đào tạo *</abp-column>
                <abp-column size-md="_9">
                    <select name="CurriculumId" class="form-control" data-bind="options: curriculums, optionsText: 'text', optionsValue: 'value', value: selectedCurriculum"></select>
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-md="_3">Nhóm cha</abp-column>
                <abp-column size-md="_9">
                    <select name="ParentId" class="form-control" data-bind="options: subjectGroups, optionsText: 'name', optionsValue: 'id'"></select>
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-md="_3">@L["Note"]</abp-column>
                <abp-column size-md="_9">
                    <textarea name="Note" class="form-control"></textarea>
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-md="_3">Tổng số tín chỉ</abp-column>
                <abp-column size-md="_9">
                    <input name="UnitTotal" class="form-control" />
                </abp-column>
            </abp-row>

        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
