@page
@model Tlu.CurriculumManager.Web.Pages.SubjectGroups.EditModalModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Tlu.CurriculumManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IHtmlLocalizer<CurriculumManagerResource> L
@{
    Layout = null;
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/SubjectGroups/index.js" />
    </abp-script-bundle>
    <script>
    </script>
}

<form id="editSubjectGroupForm" data-ajaxform="true" action="/SubjectGroups/EditModal" method="post" novalidate="novalidate">
    <abp-modal>
        <abp-modal-header title="@L["UpdateSubjectGroup"].Value"></abp-modal-header>
        <abp-modal-body>
            <input type="hidden" name="__RequestVerificationToken" data-bind="value: abp.security.antiForgery.getToken()" />
            <abp-row>
                <abp-column size-md="_3">@L["Name"] *</abp-column>
                <abp-column size-md="_9">
                    <input name="Name" class="form-control" data-bind="value: subjectGroup().name" />
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-md="_3">Thứ tự hiển thị *</abp-column>
                <abp-column size-md="_9">
                    <input name="DisplayOrder" class="form-control" data-bind="value: subjectGroup().displayOrder" />
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-md="_3">Chương trình đào tạo *</abp-column>
                <abp-column size-md="_9">
                    <select name="CurriculumId" class="form-control" data-bind="options: curriculums, optionsText: 'name', optionsValue: 'id', value: selectedCurriculum"></select>
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-md="_3">Nhóm cha</abp-column>
                <abp-column size-md="_9">
                    <select name="ParentId" class="form-control" data-bind="options: subjectGroups, optionsText: 'name', optionsValue: 'id', value: selectedSubjectGroup"></select>
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-md="_3">@L["Note"]</abp-column>
                <abp-column size-md="_9">
                    <textarea name="Note" class="form-control" data-bind="text: subjectGroup().note"></textarea>
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-md="_3">Tổng số tín chỉ</abp-column>
                <abp-column size-md="_9">
                    <input name="UnitTotal" class="form-control" data-bind="value: subjectGroup().unitTotal" />
                </abp-column>
            </abp-row>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
